export/Technical/Workflows/PostgresInsertUser-732D65AD-6E0C-EF11-9F89-6045BD17ACDC.json
{
  "properties": {
    "connectionReferences": {
      "shared_postgresql": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "cr668_a97e94239111448aa26fcd58af273605"
        },
        "api": {
          "name": "shared_postgresql"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3a5ae6d6-8d9f-40eb-b61c-465e8b905581"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "username",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Insert_row": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f1b589e5-71c1-49be-bfb5-b312c758bfd0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_postgresql",
              "operationId": "PostItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_postgresql"
            },
            "parameters": {
              "table": "[public].[skillbooster_ex_tab]",
              "item/user_id": "@variables('UserId')",
              "item/username": "@triggerBody()['text']",
              "item/password": "@triggerBody()['text']",
              "item/email": "@{triggerBody()['text']}@cgpowerautomate.de",
              "item/created_at": "@utcNow()"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c7ae6a73-29bd-4437-ba47-4163d4986dc9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "UserId",
                "type": "integer",
                "value": "@rand(1,9999)"
              }
            ]
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Insert_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9304788f-938e-4b6f-9ca9-e71e47316188"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "userid": "@{variables('UserId')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "userid": {
                  "title": "UserId",
                  "x-ms-dynamically-added": true,
                  "type": "number"
                }
              }
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}